modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[userenv]

[userenv.shared]
KIS_APPKEY = "PSrDDhTm4jI3S7GAOqbU3zKiQhkP3ztqsScC"
KIS_APPSECRET = "37XQUyb7hyxhW6+iA2JkkdWtrZ7W2QaZRKBEA55hnJDiDLr9Uk54voBN3y0GyGdJCts0+d5w8zpsVrlsOsDn6eIP7WdLrNekdd+KWuhuc3GRnr9uPALuyPXvshppxOKZyASnrD7p9fN6GClsZLvLCFYELKaZucaqpcc45na2NvKqkQcRBxI="
